extends layout

block content 
    h1 все курсы Академии
    a.btn.btn-primary(href='/course/add') Создать новый курс 
    table.table.table-striped
        thead
            tr
                th Id курса
                th курс 
                th 
                th
        tbody
            each course in courses
                tr 
                    td= course.id
                    td= course.name
                    td(style='width: 50px;'): a(hraf="/courses/edit/" + course.id)
                        span.glyphicon.glyphicon-pencil
                    td(style='width: 50px;'): a(href='/courses/delete' + course.id)
                        span.glyphicon.glyphicon-remove  